# Database Credentials
DB_USER="wtb_user"
DB_PASSWORD=""
DB_HOST="localhost"
DB_PORT="3306"
DB_NAME="within_the_blur"

DATABASE_URL="mysql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}"

JWT_SECRET="ganti_dengan_secret_yang_kuat"
FRONTEND_URL="http://localhost:3000"
NODE_ENV="development"
PORT=8000
